{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
        Trump Says
        {% endblock %}
    </title>
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}"/>
    {% block header %}{% endblock %}
</head>
<body>
<header>
    <h1>Trump Says</h1>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
        </ul>
    </nav>
</header>
{% block content%}{% endblock %}
{% block footer%}{% endblock %}
</body>
</html>