{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>What does Trump say about...</h1>
    </div>
    <table class="list-group">
        <tbody>
        {% for tag in tags %}
        <tr class="list-group-item">
            <td class="tc1">
                <a href="{% url 'tag' tag_id=tag.tag_id %}">{{ tag.tag }}</a>
            </td>
            <td class="tc2">
                <div class="max_created">{{ tag.max_created_at }}</div>
            </td>
            <td class="tc3">
                <div class="badge badge-default">{{ tag.count }}</div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div> <!-- /container -->
{% endblock %}