{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ tag.tag}}</h1>
    </div>
    {% for row in status_rows %}
    <div class="card-deck">
        {% for col in row %}
        <div class="card">
            <div class="card-block">
                <p class="card-text">
                    {{ col.status.text }}
                </p>

            </div>
        </div>
        <!--</div>-->
        {% endfor %}
    </div>
    {% endfor %}
</div> <!-- /container -->
{% endblock %}